<?xml version="1.0" encoding="UTF-8" ?>
<generator alias="CAJERO DYNASTY - TARJETAS FORANEAS">
	<workPath>config</workPath>
	<templatesFile>templates.config</templatesFile>		
	<generatorsFile>signon.config</generatorsFile>	
	<parametersFile>signon.inf</parametersFile>	
	<logLevel>D</logLevel>
	<prefix>DYN_</prefix>
	<tcpFile>host.cfg</tcpFile>
	<securityFile>seguridad.cfg</securityFile>
	<statisticFile>estadistica.cfg</statisticFile>
	<reportFlag>Y</reportFlag>
	<reportPath>C:\SISO\test\BBVA\log\TXNClient\report</reportPath>
</generator>