<?xml version="1.0" encoding="UTF-8" ?>
<generators detail="Depósitos en cuentas propias">
	<generator detail="Deposito Cta Efectivo">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqDepositoCtaEfect">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Deposito Cta Ahorros">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqDepositoCtaAhor">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Deposito Cta Orden Pago">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqDepositoCtaOrden">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Deposito Cta Plazo Fijo">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqDepositoPlazoF">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Deposito Cta CTS">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqDepositoCtaCts">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Deposito Cta Efectivo">
		<streams>
			<stream alias="ReqExtorno">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="B90OriginalData">
				<template>reqB90OriginalData</template>
			</stream>
			<stream alias="ReqExtornoDepositoEfec">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>		
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Deposito Cta Ahorros">
		<streams>
			<stream alias="ReqExtorno">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="B90OriginalData">
				<template>reqB90OriginalData</template>
			</stream>
			<stream alias="ReqExtornoDepositoAhorro">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>		
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Deposito Cta Orden Pago">
		<streams>
			<stream alias="ReqExtorno">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="B90OriginalData">
				<template>reqB90OriginalData</template>
			</stream>
			<stream alias="ReqExtornoDepositoOrden">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>		
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Deposito Cta Plazo Fijo">
		<streams>
			<stream alias="ReqExtorno">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="B90OriginalData">
				<template>reqB90OriginalData</template>
			</stream>
			<stream alias="ReqExtornoDepositoPlazo">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>		
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Deposito Cta CTS">
		<streams>
			<stream alias="ReqExtorno">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="B90OriginalData">
				<template>reqB90OriginalData</template>
			</stream>
			<stream alias="ReqExtornoDepositoCTS">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>		
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
</generators>	