<?xml version="1.0" encoding="UTF-8" ?>
<generators detail="Depósitos en cuentas propias">
	<generator detail="Deposito Cta Terceros">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqDepositoTerceros">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Deposito Cta Terceros">
		<streams>
			<stream alias="ReqExtorno">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="B90OriginalData">
				<template>reqB90OriginalData</template>
			</stream>
			<stream alias="ReqExtornoDepositoTerceros">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>		
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
</generators>	