<?xml version="1.0" encoding="UTF-8" ?>
<generators detail="Pago de Servicios - Instituciones">
	<generator detail="Pago Servicios ">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqPagoServInst">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Pago Instituciones">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqPagoInstituciones">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Pago Servicios">
		<streams>
			<stream alias="ReqExtorno">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="B90OriginalData">
				<template>reqB90OriginalData</template>
			</stream>
			<stream alias="ReqExtornoPagoServInst">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>		
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Pago Instituciones">
		<streams>
			<stream alias="ReqExtorno">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="B90OriginalData">
				<template>reqB90OriginalData</template>
			</stream>
			<stream alias="ReqExtornoPagoInstituciones">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>		
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
</generators>	