<?xml version="1.0" encoding="UTF-8" ?>
<generators detail="Recargas">
	<generator detail="Recargas">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqRecargas">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Recargas">
		<streams>
			<stream alias="ReqExtorno">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="B90OriginalData">
				<template>reqB90OriginalData</template>
			</stream>
			<stream alias="ReqExtornoRecargas">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>		
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
</generators>	