<?xml version="1.0" encoding="UTF-8" ?>
<generators detail="Relacion de Cuentas">
	<generator detail="Relacion Cuentas">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqRelacionCuentas">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
</generators>	