<?xml version="1.0" encoding="UTF-8" ?>
<generators detail="Relacion de Cuotas de Credito">
	<generator detail="Relacion Cuota Credito Tarjeta">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqRelacionCredito">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Relacion Cuota Credito DNI">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqRelacionCreditoDNI">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
</generators>	