<?xml version="1.0" encoding="UTF-8" ?>
<generators detail="Retiros">
	<generator detail="Retiro Efectivo">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqRetiroEfectivo">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Retiro Ahorros">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqRetiroAhorros">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Retiro Orden Pago">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqRetiroOrdenPago">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Retiro Plazo Fijo">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqRetiroPlazoFijo">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Retiro CTS">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqRetiroCTS">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Retiro Efectivo">
		<streams>
			<stream alias="ReqExtorno">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="B90OriginalData">
				<template>reqB90OriginalData</template>
			</stream>
			<stream alias="ReqExtornoRetiroEfec">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>		
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Retiro Ahorros">
		<streams>
			<stream alias="ReqExtorno">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="B90OriginalData">
				<template>reqB90OriginalData</template>
			</stream>
			<stream alias="ReqExtornoRetiroAhorr">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>		
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Retiro Orden Pago">
		<streams>
			<stream alias="ReqExtorno">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="B90OriginalData">
				<template>reqB90OriginalData</template>
			</stream>
			<stream alias="ReqExtornoRetiroOrdenPago">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>		
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Retiro Plazo Fijo">
		<streams>
			<stream alias="ReqExtorno">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="B90OriginalData">
				<template>reqB90OriginalData</template>
			</stream>
			<stream alias="ReqExtornoRetiroPlazoFijo">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>		
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Retiro CTS">
		<streams>
			<stream alias="ReqExtorno">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="B90OriginalData">
				<template>reqB90OriginalData</template>
			</stream>
			<stream alias="ReqExtornoRetiroCTS">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>		
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
</generators>	