<?xml version="1.0" encoding="UTF-8" ?>
<processorSet defaultTemplate="isoProcesoMC">
	<processors>
		<!--Requerimientos SignOn-->
		<processor alias="reqSignOn">
			<class>1</class>
			<inputTemplate>isoProcesoMC</inputTemplate>
			<outputTemplate>isoProcesoMC</outputTemplate>
			<keys>
				<key>
					<field>msgtype</field>
					<size>4</size>
					<value>0800</value>
				</key>
			</keys>
			<tokens>
				<token>
					<field>msgtype</field>
					<offset>0</offset>
					<size>4</size>
				</token>
			</tokens>
		</processor>
	</processors>
</processorSet>