<?xml version="1.0" encoding="UTF-8" ?>
<generators detail="CAMIO DE PIN">
	<generator detail="Requerimiento de SignOn">
		<streams>
			<stream alias="ReqAdministrativo">
				<template>isoProcesoMC</template>
			</stream>
			<stream alias="ReqSignOn">
				<baseStream>1</baseStream>
				<template>isoProcesoMC</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoProcesoMC</template>
		</streamRsp>
	</generator>
</generators>
