<?xml version="1.0" encoding="UTF-8" ?>
<generators detail="Compra por POS">
	<generator detail="Compra POS Nacional"> 
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoGlobalNet</template>
			</stream>
			<stream alias="ReqCompraPOSNacional">
				<baseStream>1</baseStream>
				<template>isoGlobalNet</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoGlobalNet</template>
		</streamRsp>
	</generator>
	<generator detail="Compra POS Internacional">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoGlobalNet</template>
			</stream>
			<stream alias="ReqCompraPOSInternacional">
				<baseStream>1</baseStream>
				<template>isoGlobalNet</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoGlobalNet</template>
		</streamRsp>
	</generator>
	<generator detail="Extorno Compra POSNacional">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoGlobalNet</template>
			</stream>
			<stream alias="ReqDE090OriginalData">
				<template>reqDE090OriginalData</template>
			</stream>
			<stream alias="ReqExtornoCompraPOSNacional">
				<baseStream>1</baseStream>
				<template>isoGlobalNet</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoGlobalNet</template>
		</streamRsp>
	</generator>
		<generator detail="Extorno Compra POSInternacional">
		<streams>
			<stream alias="ReqFinanciero">
				<template>isoGlobalNet</template>
			</stream>
			<stream alias="ReqDE090OriginalData">
				<template>reqDE090OriginalData</template>
			</stream>
			<stream alias="ReqExtornoCompraPOSInternacional">
				<baseStream>1</baseStream>
				<template>isoGlobalNet</template>
			</stream>
		</streams>
		<streamRsp alias="RspFinanciero">
			<template>isoGlobalNet</template>
		</streamRsp>
	</generator>
</generators>	