<?xml version="1.0" encoding="UTF-8" ?>
<templateSet>
	<templates>
		<template alias="isoProcesoMC">
			<bitmapField>2</bitmapField>
			<fields>
				<field alias="msgType">
					<format>N</format>
					<maxSize>4</maxSize>
				</field>
				<field alias="priBitmap">
					<maxSize>16</maxSize>
				</field>
				<field alias="secBitmap">
					<isobit>1</isobit>
					<maxSize>16</maxSize>
				</field>
				<field alias="pan">
					<isobit>2</isobit>
					<varSize>2</varSize>
					<maxSize>19</maxSize>
				</field>
				<field alias="processingCode">
					<isobit>3</isobit>
					<format>N</format>
					<maxSize>6</maxSize>
				</field>
				<field alias="amount">
					<isobit>4</isobit>
					<format>N</format>
					<maxSize>15</maxSize>
				</field>
				<field alias="amountSettlement">
					<isobit>5</isobit>
					<format>N</format>
					<maxSize>10</maxSize>
				</field>
				<field alias="txnDate">
					<isobit>7</isobit>
					<format>N</format>
					<maxSize>4</maxSize>
				</field>
				<field alias="txnTime">
					<isobit>7</isobit>
					<format>N</format>
					<maxSize>6</maxSize>
				</field>
				<field alias="trace">
					<isobit>11</isobit>
					<format>N</format>
					<maxSize>6</maxSize>
				</field>
				<field alias="localTime">
					<isobit>12</isobit>
					<format>N</format>
					<maxSize>6</maxSize>
				</field>
				<field alias="localDate">
					<isobit>13</isobit>
					<format>N</format>
					<maxSize>4</maxSize>
				</field>
				<field alias="expirationDate">
					<isobit>14</isobit>
					<format>N</format>
					<maxSize>4</maxSize>
				</field>
				<field alias="dateSettlement">
					<isobit>15</isobit>
					<format>N</format>
					<varSize>0</varSize>
					<maxSize>4</maxSize>
				</field>
				<field alias="merchantType">
					<isobit>18</isobit>
					<format>N</format>
					<varSize>0</varSize>
					<maxSize>4</maxSize>
				</field>
				<field alias="posEntryMode">
					<isobit>22</isobit>
					<format>N</format>
					<maxSize>3</maxSize>
				</field>
				<field alias="acqId">
					<isobit>32</isobit>
					<format>N</format>
					<varSize>2</varSize>
					<maxSize>11</maxSize>
				</field>
				<field alias="fwdId">
					<isobit>33</isobit>
					<format>N</format>
					<varSize>2</varSize>
					<maxSize>11</maxSize>
				</field>
				<field alias="track2">
					<isobit>35</isobit>
					<varSize>2</varSize>
					<maxSize>37</maxSize>
				</field>
				<field alias="referenceNumber">
					<isobit>37</isobit>
					<maxSize>12</maxSize>
				</field>
				<field alias="authCode">
					<isobit>38</isobit>
					<format>N</format>
					<maxSize>6</maxSize>
				</field>
				<field alias="respCode">
					<isobit>39</isobit>
					<format>N</format>
					<maxSize>2</maxSize>
				</field>
				<field alias="terminal">
					<isobit>41</isobit>
					<maxSize>8</maxSize>
				</field>
				<field alias="acceptorId">
					<isobit>42</isobit>
					<maxSize>15</maxSize>
				</field>
				<field alias="acceptorName">
					<isobit>43</isobit>
					<maxSize>40</maxSize>
				</field>
				<field alias="addDataPrivate">
					<isobit>48</isobit>
					<varSize>3</varSize>
					<maxSize>100</maxSize>
				</field>
				<field alias="currencyCode">
					<isobit>49</isobit>
					<format>N</format>
					<maxSize>3</maxSize>
				</field>
				<field alias="currencyCodeSettlement">
					<isobit>50</isobit>
					<format>N</format>
					<maxSize>3</maxSize>
				</field>
				<field alias="pin">
					<isobit>52</isobit>
					<format>N</format>
					<maxSize>16</maxSize>
				</field>
				<field alias="additionalAmounts">
					<isobit>54</isobit>
					<varSize>3</varSize>
					<maxSize>120</maxSize>
				</field>
				<field alias="iccData">
					<isobit>55</isobit>
					<varSize>3</varSize>
					<maxSize>999</maxSize>
				</field>
				<field alias="networkData">
					<isobit>63</isobit>
					<varSize>3</varSize>
					<maxSize>12</maxSize>
				</field>
				<field alias="netManagCode">
					<isobit>70</isobit>
					<format>N</format>
					<varSize>0</varSize>
					<maxSize>3</maxSize>
				</field>
				<field alias="originalData">
					<isobit>90</isobit>
					<maxSize>42</maxSize>
				</field>
				<field alias="accountIde1">
					<isobit>102</isobit>
					<varSize>2</varSize>
					<maxSize>40</maxSize>
				</field>
				<field alias="accountNum2">
					<isobit>103</isobit>
					<varSize>2</varSize>
					<maxSize>40</maxSize>
				</field>
				<field alias="addData">
					<isobit>112</isobit>
					<varSize>0</varSize>
					<maxSize>100</maxSize>
				</field>
				<field alias="custInfoResponse">
					<isobit>120</isobit>
					<varSize>4</varSize>
					<maxSize>1800</maxSize>
				</field>
			</fields>
		</template>
		
		<!--DE047-->
	</templates>
</templateSet>
