<?xml version="1.0" encoding="UTF-8" ?>
<generator alias="CAJERO DYNASTY">
	<workPath>config</workPath>
	<templatesFile>templates.config</templatesFile>		
	<generatorsFile>depositoctapropia.config</generatorsFile>	
	<parametersFile>depositoctapropia.inf</parametersFile>
	<!--<delay>1000</delay>	-->
	<logLevel>D</logLevel>
	<prefix>DYN_</prefix>
	<tcpFile>host.cfg</tcpFile>
	<securityFile>seguridad.cfg</securityFile>
	<statisticFile>estadistica.cfg</statisticFile>
	<reportFlag>Y</reportFlag>
	<reportPath>C:\SISO\txnclient\BBVA\log\TXNClient\Report</reportPath>
</generator>